{% extends 'base.html' %}


{% block content %}
    <section class="vh-100">

      {% for message in messages %}
      <div class="text-center text-warning bg-dark">
        <h2>{{ message }}</h2>
      </div>
      {% endfor %}

        <div class="container py-5 h-100">
            <div class="text-center text-primary ">
                <h1>Reset Password</h1>
            </div>
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <form method="post" action="{% url 'resetPassword' %}"> 
                {% csrf_token %}
                <!-- user input -->
               

                

               
      
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label">New Password</label>
                  <input type="password" id="password" name="password" class="form-control form-control-lg" required="" >                 
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control form-control-lg" required="" >                 
                </div>
                
      
                <!-- Submit button -->
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reset Password">
                {% comment %} <a class="btn btn-primary" href="{% url 'otp_login' %}" role="button">otp signin</a> {% endcomment %}

      
                
      
              </form>
              
            </div>
          </div>
        </div>
      </section>
      {% endblock %}