{%extends 'admin\includes\admin-base.html'%}

{%block content%}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">


            <div class="container mt-4">
                <h1>Add Coupon</h1>
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="product">Product</label>
                            <select name="product" id="product" class="form-control rounded-0">
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.product_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="discount">Discount</label>
                            <input type="number" class="form-control rounded-0" name="discount" id="discount" step="5" placeholder="">
                        </div>
                    </div>
                    

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="start_date">Start Date</label>
                            <input type="date" class="form-control rounded-0" name="start_date" id="start_date" placeholder="">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="end_date">End Date</label>
                            <input type="date" class="form-control rounded-0" name="end_date" id="end_date" placeholder="" >
                        </div>
                    </div>
            
                <div class="mt-2">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
                </form>
            </div> 
        </div>
    </main>



    {%endblock%}