{%extends 'admin/includes/admin-base.html'%}

{%block content%}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Products Management</h1>
                        <div class="row">
                            <div class="col-lg-3 ms-5 mt-3">
                            <a href="{% url 'add_product' %}" class="btn btn-primary btn-sm">Add Product</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 ms-5 mt-4">
                        <table class="table caption-top">
                            <!-- <caption>List of categories</caption> -->
                            <thead>
                              <tr>
                                <th scope="col">Product Name</th>
                                <th scope="col">Brand Name</th>
                                <th scope="col">Category Name</th>
                                {% comment %} <th scope="col">Stock</th> {% endcomment %}
                                <th scope="col">Price</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for p in pro %}
                              <tr>
                                <th>{{p.product_name}}</th>
                                <td>{{p.Brand}}</td>
                                <td>{{p.Category}}</td>
                                {% comment %} <td>{{p.stock}}</td> {% endcomment %}
                                <td>{{p.price}}</td>
                                <td>{{p.gender}}</td>
                                <td>{{p.discription}}</td>
                                <!-- <td>{{p.image}}</td> -->
                                <!-- <td><img src="{{ p.image.url }}" width="30%" height="30%"/></td> -->
                                <!-- <td><img src="{{MEDIA_URL}}{{p.image.url}}" class="img-fluid" alt="Free html5 bootstrap 4 template"></td> -->
                                <td><img src="{{p.image.url}}" alt="Product Image" class="rounded-circle" style="width: 60px; height: 60px;"></td>

                            

                                <td>
                                    
                                    <!-- <label class="badge rounded-pill bg-success text-dark">Active</label>
                                    <label class="badge rounded-pill bg-danger text-dark">Blocked</label> -->
                                    <a href="{% url 'edit_product' p.id %}" class="btn btn-warning " >Edit</a>
                                    <form action="{% url 'del_product' p.id %}" method="post" class="d-inline">{% csrf_token %}
                                    <input type="submit" class="btn btn-danger" value="Delete">
                  
                                    </form>

                                 
                                   
                                </td>  
                              </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                            </div>
                        </div>
                       
                     
                    </div>
                </main>
            </div>
            {% endblock %}